/* General Styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Arial', sans-serif;
  background-image: url("https://img.cdn-pictorem.com/uploads/collection/E/EH4LNA1KMP/900_7ob_Trees_Moon_Lake_Moonlight_Night_Image_Manipulation_Mystic_Light_Mood_Illuminated_Night.jpg");
  /* Add your image path here */
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-attachment: fixed;
  /* Keeps the image fixed while scrolling */
  color: #fff;
  /* Light text for contrast */

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  padding: 1.75rem;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
  backdrop-filter: blur(5px);

}

h1 {
  text-align: center;

  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

p {
  text-align: center;

  font-size: 1.1rem;
}

/* Form Styles */


.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 0.75rem;
  margin-top: 1.75rem;
}

label {
  font-weight: bold;

}

input,
select {
  padding: 0.75rem;

  border-radius: 8px;
  font-size: 1rem;
  background: transparent;
 color: #fff;
  border: 2px solid #cecece;
  transition: border-color 0.3s ease;
}

input::placeholder{
  color: #fff;
}

select option{
  color: #3498db;
}

input:focus,
select:focus {
  border-color: #3498db;
  outline: none;
  background: transparent;
}

button {
  padding: 0.75rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.02);
}

/* Result Styles */
.result-container {
  /*background: rgba(236, 240, 241, 0.9);*/
  /* Semi-transparent background */
  border: 2px solid #cecece;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 1.75rem;
  text-align: center;
}

#resultText {
  font-size: 1.2rem;
  margin-top: 15px;
}

/* Table Styles */
.tables-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  /* Semi-transparent background */
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #cecece;
}

th,
td {
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3498db;
  color: white;
}

tr:hover {
  background-color: rgba(241, 241, 241, 0.8);
  color: #3498db;
  /* Semi-transparent hover effect */
}